.red {
  background-color: #FF7272;
}

.orange {
  background-color: #FF9C54;
}

.yellow {
  background-color: #FFE03C;
}

.green {
  background-color: #94FF83;
}

.blue {
  background-color: #7BE7FF;
}

.sea-blue {
  background-color: #54C1FF;
}

.violet {
  background-color: #9969FD;
}

.gray {
  background-color: #E7E7E7;
}